<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="simple bike,folding bike,foldable bike,raw stainlesssteel bike,frame,raw bike,cycle,foldable fixie
        foldable urban bike,urban bike,swiss design bike,made in holland,made in europe,foldable design bike,simple design bike,designbike,
        raw design bike,single speed foldable single speed,dutch design bike,bitcoin,what to buy with bitcoin,cryptocurrency,pay with bitcoin,
        bike building,bike design,custom bike,tig welded bike,steel frame,welded steel frame,welded steel bike,bitcoin products,bike that fits in a car,
        city bike,steel fixie,tig welded fixie,dutch bike building,portugal bike,portugal fixie,travel bike,airport ninja bike,travel with bike,
        city hopper bike">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <style type="text/css">
        html, body {
          scroll-behavior: smooth;
        }
    </style>
    <script></script>
</head>
<body>
    <a href="#order-form-container" class="cart scrolly-middle hide">
        Your total: €<span class="order-total"></span>
        <span class="note">Click to order...</span>
    </a>

    <!-- Header -->
    <section id="header">
        <header>
            <img src="/assets/images/logo.svg" height="200px">
            <h1>MISTERMURATORI</h1>
            <p>Folding bike</p>
        </header>
        <footer>
            <a href="#first" class="button style2 scrolly-middle">SHOP</a>
        </footer>
    </section>

    <!-- Complete Bike -->
    <article id="first" class="container box style1 right">
        <div class="image fit">
            <a href="/assets/images/complete/image1.JPG"><img src="/assets/images/complete/image1.JPG" title="The complete bike"/></a>
            <a href="/assets/images/complete/image2.JPG"><img src="/assets/images/complete/image2.JPG" title="The complete bike"/></a>
            <a href="/assets/images/complete/image3.JPG"><img src="/assets/images/complete/image3.JPG" title="The complete bike"/></a>
            <a href="/assets/images/complete/image4.JPG"><img src="/assets/images/complete/image4.JPG" title="The complete bike"/></a>
            <a href="/assets/images/complete/image5.JPG"><img src="/assets/images/complete/image5.JPG" title="The complete bike"/></a>
            <a href="/assets/images/complete/image6.JPG"><img src="/assets/images/complete/image6.JPG" title="The complete bike"/></a>
        </div>
        <div class="inner">
            <header>
                <h2>Complete bike</h2>
            </header>
            <p>&nbsp;<br>&nbsp;</p>
            <div class="discount">
                <strong>Select your discount.</strong>
                <br>
                I want <input class="bike-num" type="number" min="0" max="5" value="0" style="max-width: 3em; border: none; text-align: right;"/> bikes.
                <br>
                <span class="bike-piece-price hide">
                    You pay <strong>€ <span class="bike-dis">0</span></strong> per piece.
                </span>
            </div>
        </div>
    </article>

    <!-- Frame -->
    <article class="container box style1 left">
        <div class="image fit">
            <a href="/assets/images/frame/image1.JPG"><img src="/assets/images/frame/image1.JPG" title="The frame"/></a>
            <a href="/assets/images/frame/image2.JPG"><img src="/assets/images/frame/image2.JPG" title="The frame"/></a>
            <a href="/assets/images/frame/image3.JPG"><img src="/assets/images/frame/image3.JPG" title="The frame"/></a>
            <a href="/assets/images/frame/image4.JPG"><img src="/assets/images/frame/image4.JPG" title="The frame"/></a>
            <a href="/assets/images/frame/image5.JPG"><img src="/assets/images/frame/image5.JPG" title="The frame"/></a>
            <a href="/assets/images/frame/image6.JPG"><img src="/assets/images/frame/image6.JPG" title="The frame"/></a>
        </div>
        <div class="inner">
            <header>
                <h2>Just the frame</h2>
            </header>
            <p>&nbsp;<br>&nbsp;</p>
            <div class="discount">
                <strong>Select your discount.</strong>
                <br>
                I want <input class="frame-num" type="number" min="0" max="5" value="0" style="max-width: 3em; border: none; text-align: right;"/> frames.
                <br>
                <span class="frame-piece-price hide">
                    You pay <strong>€ <span class="frame-dis">0</span></strong> per piece.
                </span>
            </div>
        </div>
    </article>

    <!-- Order Form -->
    <article class="container box style3 hide" id="order-form-container">
        <header>
            <h2>Cart</h2>
            <p>Your total: €<span class="order-total"></span>.</p>
            <p>
                After receiving your order we'll send you an email with the payment details.
            </p>
            <p style="color:#c00">
                Thank you!
            </p>
        </header>
        <form method="post" action="https://formspree.io/order@mistermuratori.com" class="order-form">
            <div class="row 50%">
                <div class="12u$">
                    <input type="email" class="text" name="email" placeholder="Email" required />
                </div>
                <input type="text" name="bike_number" style="display:none" class="input-bike-count" value="0"/>
                <input type="text" name="frame_number" style="display:none" class="input-frame-count" value="0"/>
                <input type="text" name="price_per_bike" style="display:none" class="input-bike-price" value="0"/>
                <input type="text" name="price_per_frame" style="display:none" class="input-frame-price" value="0"/>
                <input type="text" name="total" style="display:none" class="input-total" value="0"/>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_subject" value="New order submission!" />
                <input type="hidden" name="_next" value="http://mistermuratori.com/" />
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Order"/></li>
                    </ul>
                </div>
            </div>
        </form>
    </article>

    <!-- Text -->
    <article class="container box style3">
        <p>Life doesn’t need to be complicated; a simple clean normal size bike which happens to
can be a small package; no cables, no gears, no paint. And besides using your regular bank, you can also pay for it with bitcoin or your other favourite cryptocurrency
Designed following old school traditions by the swiss based brand of Mistermuratori, the
bike frame is 100% made in holland using cutting edge technologies.
The bike has a stainless steel frame, so it will never rust and needs no paint, no gears, just a
simple and trusted coasterbrake.
Foldable with just one lever, it simply fits in the booth of your car, the train, a plane or your metropolis
appartment..</p>
    </article>

    <!-- Specs -->
    <article class="container box style3">
        <header>
            <h2>Specs</h2>
        </header>
        <p>
            <ul>
                <li></li>framesize: 54cm (c-c) contact us for 51 and 57, soon available</li>
                <li>headtube: 1 inch</li>
                <li>seatpost: 27.2mm</li>
                <li>wheelbase: 97cm</li>
                <li>material: raw stainless 304, Tig welded</li>
                <li>gear: single, coasterbrake, 46 x 17T</li>
                <li>wheelsize: 28inch</li>
            </ul>
        </p>
        <p>
            The folding mechanism on the frame is carefully tested and approved by the german zedler institute
        </p>
    </article>

    <!-- Contact -->
    <article class="container box style3">
        <header>
            <h2>Contact</h2>
            <p>Give feedback or ask questions.</p>
        </header>
        <form method="post" action="https://formspree.io/contact@mistermuratori.com">
            <div class="row 50%">
                <div class="6u 12u$(mobile)"><input type="text" class="text" name="name" placeholder="Name" required/></div>
                <div class="6u$ 12u$(mobile)"><input type="email" class="text" name="email" placeholder="Email" required/></div>
                <div class="12u$">
                    <textarea name="message" placeholder="Message" required></textarea>
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_subject" value="New contact submission!" />
                <input type="hidden" name="_next" value="http://mistermuratori.com/" />
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </article>

    <section id="footer">
        <ul class="icons">
            <li><a href="https://www.facebook.com/mistermuratori" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/mistermuratori" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <div class="copyright">
            <ul class="menu">
                <li>&copy; MISTERMURATORI</li>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.poptrox.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>
</body>
</html>
